---
import { SvgGithub } from '../icons/SvgGithub'
---

<section>
	<div
		class="flex flex-col gap-3 rounded-xl bg-white/70 p-4 text-lg text-black shadow-md"
	>
		<p class="active mr-3 text-2xl font-bold text-[#ff234e]">JosttStore</p>
		<p>
			Es una de tienda online desarrollada con Vite, ReactJS, TailwindCSS y
			configurada con ESLint (Standard), Prettier y Husky.
		</p>
		<p>
			Permite a los usuarios navegar un catálogo de productos, ver detalles,
			agregar al carrito y a favoritos.
		</p>
		<p>
			Tiene funcionalidades como búsqueda, filtros, paginación, manejo de rutas
			públicas y privadas, hooks personalizados y Redux para manejo de estado.
		</p>
		<p>
			El proyecto me permitió practicar conceptos importantes de React como
			manejo de formularios, rutas, paginación, hooks, Context, peticiones a
			API's, autenticación, manejo de locaStorage y Redux.
		</p>

		<div class="my-6 flex items-center gap-4">
			<a
				href="https://jostt-store-watv.vercel.app/"
				target="_blank"
				rel="noopener noreferrer"
				class="text-md flex items-center justify-center gap-2 rounded-full border border-white/70 bg-[#0c79c2] px-4 py-1 leading-9 text-white transition-all hover:bg-[#118cdf]"
			>
				Ver proyecto en vivo
				<svg
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					class="h-5 w-5"
					width="22"
					viewBox="0 0 24 24"
				>
					<path
						d="M15 3h6v6m-11 5L21 3m-3 10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
					>
					</path>
				</svg>
			</a>

			<a
				href="https://github.com/josttme/jostt-store"
				target="_blank"
				rel="noopener noreferrer"
				class="text-md flex items-center gap-2 rounded-full border border-white/70 bg-gray-800 px-4 py-1 leading-9 text-white transition-all hover:bg-gray-700"
			>
				Ver código en GitHub
				<svg viewBox="0 0 25 25" fill="#fff" width="22">
					<path
						d="M11 2A10 10 0 008 21h1v-2H8l-2-2a2 2 0 00-1-1l2 1 1 1h1l1-2c-2 0-4-2-4-4l1-3V6l3 1a6 6 0 014 0l3-1v3l1 3c0 2-2 4-4 4a3 3 0 011 2v3h1A10 10 0 0011 2z"
					></path>
				</svg>
			</a>
		</div>
	</div>
</section>
