---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Social from '../components/Social.astro'
import Skills from '../components/Skills.astro'
import BlogCard from '../components/BlogCard.astro'
import JosttStore from '../components/josttstore/JosttStore.astro'
---

<Layout
	title="JosttMe | Frontend JavaScript que te ayuda a crecer"
	description="Soy Josue Tapia, desarrollador Frontend especializado en JavaScript. Con experiencia en tecnologías como HTML, CSS, JavaScript, React y TailwindCSS"
>
	<main class="z-20 mb-12">
		<section
			class="grid w-full place-content-center gap-7 py-28 text-center text-textColor/80"
		>
			<div
				class="aspect-square w-48 place-self-center overflow-hidden rounded-full"
			>
				<picture>
					<source srcset="/josttme.avif" type="image/avif" />
					<source srcset="/josttme.webp" type="image/webp" />
					<img
						src="/josttme.jpg"
						alt="Descripción de la imagen"
						width="200"
						height="200"
						class="scale-[1.02]"
						alt="Foto de Josue Tapia (JosttMe), desarrollador web"
						title="Josue Tapia (JosttMe), desarrollador web"
						aria-label="Foto de Josue Tapia (JosttMe), desarrollador web"
					/>
				</picture>
			</div>
			<div>
				<h1
					class="grid grid-cols-1 text-4xl font-bold text-[#4b85f1] xs:block xs:grid-cols-2 lg:text-5xl"
				>
					Hola, soy <span
						class="name bg-gradient-to-r from-[#00c3ff] to-[#d101c3]"
						>Josue Tapia,</span
					>
				</h1>
				<p class="text-3xl font-bold text-[#4a98fb] lg:text-4xl">
					Desarrollador Front-End <span
						class="javascript text-3xl font-bold text-[#f0db4f] lg:text-4xl"
						>JavaScript
					</span>
				</p>
			</div>
			<div class="space-y-3">
				<p class="max-w-3xl px-5 text-left text-xl text-[#14a1ff] lg:px-0">
					Con más de 4 años de aprendizaje autodidacta y más de 100
					certificaciones de<span class="text-[#0AEB8B]"> Platzi</span>,
					abarcando desde fundamentos hasta temas avanzados en desarrollo web.
				</p>
				<p class="max-w-3xl px-5 text-left text-xl text-[#14a1ff] lg:px-0">
					Mi objetivo es dominar React, TypeScript y Next.js, y adquirir sólidos
					conocimientos de desarrollo backend. Comprometido con el aprendizaje
					continuo.
				</p>
				<p class="max-w-3xl px-5 text-left text-xl text-[#14a1ff] lg:px-0">
					Si buscas un desarrollador web dedicado y apasionado, estoy listo para
					formar parte de tu equipo.
				</p>
			</div>

			<Social />
		</section>
		<section
			class="mx-2 flex w-auto flex-col gap-7 pb-4 pt-4 lg:mx-auto lg:w-full lg:max-w-7xl"
		>
			<h2 class="text-center text-3xl font-semibold text-[#14a1ff]">
				Proyectos
			</h2>

			<div class="grid gap-5">
				<JosttStore />
				<div
					class="mb-14 grid w-full grid-cols-card place-content-stretch gap-10 pt-5"
				>
					<Card />
				</div>
			</div>
			<h2 class="mb-2 text-center text-3xl font-semibold text-[#14a1ff]">
				Blog
			</h2>
			<div class="mx-auto grid w-full max-w-2xl gap-14">
				<BlogCard />
				<Skills />
			</div>
		</section>
	</main>
</Layout>

<style>
	.name {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
