---
import { SvgGithub } from './icons/SvgGithub'
---

<a
	class="flex w-full gap-4 rounded-lg bg-[#004caf70] p-4 transition-all hover:bg-[#0253bb]"
	href="/blog/configurar-git-github"
>
	<div class="grid w-16 items-center rounded-md bg-white">
		<SvgGithub fill="#000" />
	</div>
	<div>
		<h2 class="text-xl font-semibold text-white">
			Configurar Git y conectar con GitHub
		</h2>
		<time class="text-white">4 febrero 2024</time>
	</div>
</a>
