---
import { SvgJavaScript } from './icons/SvgJavaScript'
import { SvgSass } from './icons/SvgSass'
---

<a
	target="_blank"
	href="https://josttme.github.io/weather-app/"
	class="ml-auto grid w-full cursor-pointer grid-rows-card place-content-center gap-2 overflow-hidden rounded-lg border-[5px] border-[#0253bb] bg-[#0253bb] p-5 duration-200 ease-card lg:hover:scale-[1.05] lg:hover:border-textColor"
>
	<h3 class="self-center text-center text-3xl font-semibold text-textColor/60">
		Weather App
	</h3>
	<div class="grid w-full place-content-center">
		<img
			loading="lazy"
			class="w-ful rounded-lg border-[3px] border-[#030404]/60"
			width="300"
			height="300"
			src="https://cdn.josu.dev/weather.webp"
			alt="Imagen de proyecto Weather App"
		/>
	</div>
	<div
		class="grid h-14 w-full grid-cols-5 place-content-center gap-2 rounded-lg bg-[#060808fa] pl-2 pr-2"
	>
		<SvgJavaScript width="10" />
	</div>
</a>
<a
	target="_blank"
	href="https://movie-player-js.pages.dev/"
	class="ml-auto grid w-full cursor-pointer grid-rows-card place-content-center gap-2 overflow-hidden rounded-lg border-[5px] border-[#0253bb] bg-[#0253bb] p-5 duration-200 ease-card lg:hover:scale-[1.05] lg:hover:border-textColor"
>
	<h3 class="self-center text-center text-3xl font-semibold text-textColor/60">
		Video Player
	</h3>
	<div class="grid w-full place-content-center">
		<img
			loading="lazy"
			class="w-ful rounded-lg border-[3px] border-[#030404]/60"
			width="300"
			height="300"
			src="https://cdn.josu.dev/movie.webp"
			alt={`Image of proyect`}
		/>
	</div>
	<div
		class="grid h-14 w-full grid-cols-5 place-items-center gap-2 rounded-lg bg-[#060808fa] pl-2 pr-2"
	>
		<SvgJavaScript width="10" />
	</div>
</a>
<a
	target="_blank"
	href="https://josttme.github.io/music-player/"
	class="grid w-full cursor-pointer grid-rows-card place-content-center gap-2 overflow-hidden rounded-lg border-[5px] border-[#0253bb] bg-[#0253bb] p-5 duration-200 ease-card lg:hover:scale-[1.05] lg:hover:border-textColor"
>
	<h3 class="self-center text-center text-3xl font-semibold text-textColor/60">
		Music Player
	</h3>
	<div class="grid w-full place-content-center">
		<img
			loading="lazy"
			class="w-ful rounded-lg border-[3px] border-[#030404]/60"
			width="150"
			height="262"
			src="https://cdn.josu.dev/music.webp"
			alt={`Image of proyect`}
		/>
	</div>
	<div
		class="grid h-14 w-full grid-cols-5 place-items-center gap-2 rounded-lg bg-[#060808fa] pl-2 pr-2"
	>
		<SvgJavaScript width="10" />
		<SvgSass width="10" />
	</div>
</a>
