---
export interface Props {
	title: string
	command: string
}

const { title, command } = Astro.props
---

<li class="text-xl font-semibold">
	{title}
	<pre
		class="my-4 grid w-full items-center justify-start rounded-lg bg-[#101727] py-3 pl-4">
    <code class="text-base font-normal text-white/70  whitespace-pre-line">{command}</code>
  </pre>
</li>
