<header
	style="font-family: 'Nunito', system-ui, sans-serif;"
	class="w-full pt-5 text-center opacity-80"
>
	<a
		href="/"
		class="mx-auto flex h-12 w-36 place-content-center items-center gap-1 lg:mx-0 lg:justify-start lg:pl-10 lg:text-left"
	>
		<h2 class="text-2xl font-bold text-textColor">JosttMe</h2>
		<img
			width="90"
			height="90"
			src="/logo.png"
			class="h-10 w-10"
			alt="JosttMe Logo"
			decoding="async"
		/>
	</a>
</header>
