<section class="main overflow-hidden rounded-lg bg-[#f5f5f5]">
	<div class="flex items-center justify-between px-4 pt-2 md:hidden">
		<p class="active mr-3 text-2xl font-bold text-[#ff234e]">JosttStore</p>
		<div class="grid h-10 w-10 place-content-center rounded-full bg-slate-200">
			<svg stroke="#000" stroke-width="2" class="h-7 w-7" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M4 9h16M4 16h16"
				></path>
			</svg>
		</div>
	</div>
	<div
		class="hidden h-auto min-h-14 w-full grid-cols-[repeat(auto-fit,minmax(500px,1fr))] items-center bg-gray-100 px-2 font-sans text-black md:grid"
	>
		<div class="flex">
			<p class="active mr-3 text-2xl font-bold text-[#ff234e]">JosttStore</p>
			<p class="rounded-md p-1 px-2 duration-150">All</p>
			<p class="rounded-md p-1 px-2 duration-150">T-Shirts</p>
			<p class="rounded-md p-1 px-2 duration-150">Shoes</p>
			<p class="rounded-md p-1 px-2 duration-150">Electronic</p>
			<p class="rounded-md p-1 px-2 duration-150">Bottles</p>
			<p class="rounded-md p-1 px-2 duration-150">Others</p>
		</div>

		<div class="flex items-center justify-end gap-2 pr-1">
			<span class="opacity-70">josttme@josttstore.com</span>
			<p class="rounded-md p-1 px-2 duration-150">Favorites</p>
			<p class="rounded-md p-1 px-2 duration-150">Log In</p>
			<p
				class="rounded-md bg-gradient-to-r from-[#ff6983] to-[#ff234e] p-1 px-2 text-white duration-150"
			>
				Sign Up
			</p>
			<span
				class="group rounded-md bg-[#fcdde3] p-1 px-2 outline-8 outline-[#ff234e] duration-200 hover:bg-[#ff4359]"
			>
				<div class="relative flex">
					<svg
						viewBox="0 0 660 500"
						class="h-6 w-6 fill-[#ff4359] stroke-[#ff4359] group-hover:stroke-[#fcdde3]"
					>
						<path
							fill="none"
							stroke-width="40"
							d="M146.7 102.6h428l-54.8 188.3a68.5 68.5 0 0 1-68.5 51.3H229a68.5 68.5 0 0 1-68.5-61.6L133 34.1H64.5"
						></path>
						<circle r="1" transform="translate(215.2 427.8) scale(35)"></circle>
						<circle r="1" transform="translate(489.1 427.8) scale(35)"></circle>
					</svg>
					<span
						class="absolute bottom-3 left-4 grid h-5 w-5 place-content-center rounded-full bg-[#ff4359] text-xs font-bold text-white"
					>
						0
					</span>
				</div>
			</span>
		</div>
	</div>
	<div>
		<div class="mx-auto w-11/12 max-w-md pt-5">
			<form class="mb-4 flex h-11 w-full items-stretch">
				<input
					class="flex-auto rounded-bl-lg rounded-tl-lg border border-gray-300 bg-white px-3 py-1.5 text-gray-700 focus:border-gray-500 focus:outline-none"
					placeholder="Search"
					type="search"
					value=""
				/>
				<span
					class="flex items-center rounded-br-lg rounded-tr-lg bg-gray-900 px-6 py-2.5"
				>
					<svg viewBox="0 0 512 512" class="h-4 w-4 fill-white">
						<path
							d="M505 442.7 405.3 343a24 24 0 0 0-17-7H372a208 208 0 1 0-36 36v16.3a24 24 0 0 0 7 17l99.7 99.7a23.9 23.9 0 0 0 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336a128 128 0 1 1-.1-255.9A128 128 0 0 1 208 336z"
						>
						</path>
					</svg>
				</span>
			</form>
			<div class="h-6 w-full transition-all">
				<p class="text-center text-[#ff234e]"></p>
			</div>
		</div>
	</div>
	<section
		class="mx-auto grid w-full grid-cols-[repeat(auto-fit,minmax(300px,1fr))] justify-items-center gap-4 px-4 py-5"
	>
		<div
			class="card shadow-card grid aspect-[3/4] w-80 max-w-sm gap-4 overflow-hidden rounded-lg bg-white pb-4 transition-opacity duration-200"
		>
			<figure class="relative w-full">
				<div class="absolute right-2 top-2">
					<span
						title="Like"
						class="grid h-8 w-8 place-content-center rounded-full bg-slate-100/80 stroke-black p-2 transition duration-300"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							class="h-5 w-5 fill-none"
							stroke-width="2.1"
							><path
								d="M22 8.9a6 6 0 0 1-1.7 4c-2.4 2.6-4.8 5.3-7.3 7.7-.6.6-1.5.5-2 0L3.6 13a6 6 0 0 1 0-8.3 5.6 5.6 0 0 1 8 0l.3.3.3-.3a5.6 5.6 0 0 1 4-1.7c1.5 0 3 .6 4 1.7A6 6 0 0 1 22 9z"
							></path></svg
						></span
					>
				</div><div class="relative">
					<div class="relative">
						<img
							loading="lazy"
							class="h-full w-full"
							src="https://res.cloudinary.com/josttme1/image/upload/v1706594009/jostt-store-webp/mjlxmsmzobhgnklzhmnj.webp"
							alt="Blue and White Sneakers"
							width="200"
							height="200"
						/>
					</div>
				</div><span
					class="absolute bottom-0 left-0 m-2 rounded-lg border border-black/10 bg-slate-100/80 px-3 py-0.5 text-sm text-black transition-all duration-200"
					>Shoes</span
				>
			</figure><h3 class="t px-5 text-xl text-black">
				Blue and White Sneakers
			</h3><div class="flex w-full items-center justify-between px-5">
				<p class="text-3xl font-bold text-[#ff234e]">$200</p><div
					class="relative flex items-center rounded-md bg-gradient-to-r from-[#fcdde3] via-[#ff6983] via-30% to-[#ed1135] before:absolute before:h-full before:w-full before:rounded-md"
				>
					<div class="w-10 rounded-l-md bg-[#fcdde3] p-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 660 500"
							class="fill-[#ff4359] stroke-[#ff4359]"
							><path
								fill="none"
								stroke-width="25"
								d="M146.7 102.6h428l-54.8 188.3a68.5 68.5 0 0 1-68.5 51.3H229a68.5 68.5 0 0 1-68.5-61.6L133 34.1H64.5"
							></path><circle r="1" transform="translate(215.2 427.8) scale(25)"
							></circle><circle
								r="1"
								transform="translate(489.1 427.8) scale(25)"></circle><path
								d="M333.2 293a11.6 11.6 0 0 0 23.3 0v-60.4h60.4a11.6 11.6 0 0 0 0-23.2h-60.4v-60.5a11.6 11.6 0 1 0-23.3 0v60.5h-60.4a11.6 11.6 0 1 0 0 23.2h60.4v60.5Z"
							></path></svg
						>
					</div><span class="px-2 text-center text-white">Add to cart</span>
				</div>
			</div>
		</div>
		<div
			class="card shadow-card grid aspect-[3/4] w-80 max-w-sm gap-4 overflow-hidden rounded-lg bg-white pb-4 transition-opacity duration-200"
		>
			<figure class="relative w-full">
				<div class="absolute right-2 top-2">
					<span
						title="Like"
						class="grid h-8 w-8 place-content-center rounded-full bg-slate-100/80 stroke-black p-2 transition duration-300"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							class="h-5 w-5 fill-none"
							stroke-width="2.1"
							><path
								d="M22 8.9a6 6 0 0 1-1.7 4c-2.4 2.6-4.8 5.3-7.3 7.7-.6.6-1.5.5-2 0L3.6 13a6 6 0 0 1 0-8.3 5.6 5.6 0 0 1 8 0l.3.3.3-.3a5.6 5.6 0 0 1 4-1.7c1.5 0 3 .6 4 1.7A6 6 0 0 1 22 9z"
							></path></svg
						></span
					>
				</div><div class="relative">
					<div class="relative">
						<img
							loading="lazy"
							class="h-full w-full"
							src="https://res.cloudinary.com/josttme1/image/upload/v1706594009/jostt-store-webp/olcscjapatnczjsliv8i.webp"
							alt="Cat Print Round Neck T-Shirt"
							width="200"
							height="200"
						/>
					</div>
				</div><span
					class="absolute bottom-0 left-0 m-2 rounded-lg border border-black/10 bg-slate-100/80 px-3 py-0.5 text-sm text-black transition-all duration-200"
					>T-Shirt</span
				>
			</figure><h3 class="t px-5 text-xl text-black">
				Cat Print Round Neck T-Shirt
			</h3><div class="flex w-full items-center justify-between px-5">
				<p class="text-3xl font-bold text-[#ff234e]">$45</p><div
					class="relative flex items-center rounded-md bg-gradient-to-r from-[#fcdde3] via-[#ff6983] via-30% to-[#ed1135] before:absolute before:h-full before:w-full before:rounded-md"
				>
					<div class="w-10 rounded-l-md bg-[#fcdde3] p-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 660 500"
							class="fill-[#ff4359] stroke-[#ff4359]"
							><path
								fill="none"
								stroke-width="25"
								d="M146.7 102.6h428l-54.8 188.3a68.5 68.5 0 0 1-68.5 51.3H229a68.5 68.5 0 0 1-68.5-61.6L133 34.1H64.5"
							></path><circle r="1" transform="translate(215.2 427.8) scale(25)"
							></circle><circle
								r="1"
								transform="translate(489.1 427.8) scale(25)"></circle><path
								d="M333.2 293a11.6 11.6 0 0 0 23.3 0v-60.4h60.4a11.6 11.6 0 0 0 0-23.2h-60.4v-60.5a11.6 11.6 0 1 0-23.3 0v60.5h-60.4a11.6 11.6 0 1 0 0 23.2h60.4v60.5Z"
							></path></svg
						>
					</div><span class="px-2 text-center text-white">Add to cart</span>
				</div>
			</div>
		</div>

		<div
			class="card shadow-card grid aspect-[3/4] w-80 max-w-sm gap-4 overflow-hidden rounded-lg bg-white pb-4 transition-opacity duration-200"
		>
			<figure class="relative w-full">
				<div class="absolute right-2 top-2">
					<span
						title="Like"
						class="grid h-8 w-8 place-content-center rounded-full bg-slate-100/80 stroke-black p-2 transition duration-300"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							class="h-5 w-5 fill-none"
							stroke-width="2.1"
							><path
								d="M22 8.9a6 6 0 0 1-1.7 4c-2.4 2.6-4.8 5.3-7.3 7.7-.6.6-1.5.5-2 0L3.6 13a6 6 0 0 1 0-8.3 5.6 5.6 0 0 1 8 0l.3.3.3-.3a5.6 5.6 0 0 1 4-1.7c1.5 0 3 .6 4 1.7A6 6 0 0 1 22 9z"
							></path></svg
						></span
					>
				</div><div class="relative">
					<div class="relative">
						<img
							loading="lazy"
							class="h-full w-full"
							src="https://res.cloudinary.com/josttme1/image/upload/v1706594009/jostt-store-webp/odwgvlkehbo2grnvnw3e.webp"
							alt="Blue Sports Bottle"
							width="200"
							height="200"
						/>
					</div>
				</div><span
					class="absolute bottom-0 left-0 m-2 rounded-lg border border-black/10 bg-slate-100/80 px-3 py-0.5 text-sm text-black transition-all duration-200"
					>Bottles</span
				>
			</figure><h3 class="t px-5 text-xl text-black">Blue Sports Bottle</h3><div
				class="flex w-full items-center justify-between px-5"
			>
				<p class="text-3xl font-bold text-[#ff234e]">$26</p><div
					class="relative flex items-center rounded-md bg-gradient-to-r from-[#fcdde3] via-[#ff6983] via-30% to-[#ed1135] before:absolute before:h-full before:w-full before:rounded-md"
				>
					<div class="w-10 rounded-l-md bg-[#fcdde3] p-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 660 500"
							class="fill-[#ff4359] stroke-[#ff4359]"
							><path
								fill="none"
								stroke-width="25"
								d="M146.7 102.6h428l-54.8 188.3a68.5 68.5 0 0 1-68.5 51.3H229a68.5 68.5 0 0 1-68.5-61.6L133 34.1H64.5"
							></path><circle r="1" transform="translate(215.2 427.8) scale(25)"
							></circle><circle
								r="1"
								transform="translate(489.1 427.8) scale(25)"></circle><path
								d="M333.2 293a11.6 11.6 0 0 0 23.3 0v-60.4h60.4a11.6 11.6 0 0 0 0-23.2h-60.4v-60.5a11.6 11.6 0 1 0-23.3 0v60.5h-60.4a11.6 11.6 0 1 0 0 23.2h60.4v60.5Z"
							></path></svg
						>
					</div><span class="px-2 text-center text-white">Add to cart</span>
				</div>
			</div>
		</div>
	</section>
</section>
<style>
	section {
		font-family:
			-apple-system,
			BlinkMacSystemFont,
			segoe ui,
			Roboto,
			Helvetica,
			Arial,
			sans-serif,
			apple color emoji,
			segoe ui emoji,
			segoe ui symbol;
	}
	.card {
		box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	}
	.main {
		position: relative;
	}
	.main::after {
		content: ' ';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.1);
	}
</style>
