---
export interface Props {
	name: string
}

const { name } = Astro.props
---

<section>
	<div class="grid place-items-center gap-2">
		<div class="grid h-16 w-16 place-content-center">
			<slot />
		</div>
		<span class="text-xl text-white">{name}</span>
	</div>
</section>
