<div>
	<a
		href="https://www.linkedin.com/in/josttme/"
		class="title linkedin"
		title="LinkedIn"
		target="_blank"
	>
		<svg width="50" viewBox="0 0 50 50"
			><path
				fill="#0078d4"
				d="M42 37a5 5 0 0 1-5 5H11a5 5 0 0 1-5-5V11a5 5 0 0 1 5-5h26a5 5 0 0 1 5 5v26z"
				class="linkedin-1"></path><path
				d="M30 37V27c0-2-1-3-2-3l-2 2v11h-7V18h7v1l4-1c4 0 7 3 7 8v11h-7zm-19 0V18h4c-2 0-4-1-4-3s2-4 4-4 3 1 3 4c0 2-1 3-3 3h3v19h-7z"
				opacity=".1"></path><path
				d="M31 37V27c0-2-1-3-3-3l-2 1v12h-6V19h6v1l4-1c4 0 6 3 6 7v11h-5zm-19 0V19h6v18h-6zm3-19c-2 0-3-2-3-3a3 3 0 0 1 3-3c1 0 3 1 3 3a3 3 0 0 1-3 3z"
				opacity=".1"></path><path
				fill="#fff"
				d="M12 19h5v17h-5V19zm3-2c-2 0-3-1-3-2s1-3 3-3 2 1 2 3l-2 2zm21 19h-5v-9c0-2-1-4-3-4s-2 1-3 2v11h-5V19h5v3a5 5 0 0 1 5-3c3 0 6 2 6 7v10z"
				class="linkedin-2"></path></svg
		>
	</a>
	<a
		href="https://github.com/josttme/"
		class="title git"
		title="GitHub"
		target="_blank"
	>
		<svg fill="#fff" width="50" viewBox="0 0 25 25"
			><path
				d="M11 2a10 10 0 0 0-3 19h1v-2H8l-2-2a2 2 0 0 0-1-1l2 1 1 1h1l1-2c-2 0-4-2-4-4l1-3V6l3 1a6 6 0 0 1 4 0l3-1v3l1 3c0 2-2 4-4 4a3 3 0 0 1 1 2v3h1a10 10 0 0 0-5-19z"
			></path></svg
		>
	</a>
	<a
		href="https://twitter.com/JosttMe/"
		class="title twitter"
		title="Twitter"
		target="_blank"
	>
		<svg width="33" fill="#fff" viewBox="0 0 1200 1227"
			><path
				d="M714 519 1161 0h-106L667 451 357 0H0l468 682L0 1226h106l409-476 328 476h357L714 519ZM569 688l-47-68L144 80h163l304 436 48 68 396 566H892L569 688Z"
			></path></svg
		>
	</a>
</div>

<style>
	div {
		display: flex;
		justify-content: center;
		gap: 5px;
	}
	a {
		position: relative;
		display: grid;
		place-content: center;
		text-decoration: none;
		width: 60px;
		height: 60px;
		padding: 1px;
	}
	a::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		place-self: center;
		border-radius: 100%;
		transition: all 0.2s ease-in-out;
		z-index: 10;
	}

	.git:hover::after,
	.twitter:hover::after,
	.linkedin:hover::after {
		width: 100%;
		height: 100%;
	}
	.linkedin:hover::after {
		background-color: #0078d4;
	}
	.twitter:hover::after {
		background-color: #fff;
	}
	.git:hover::after,
	.twitter:hover::after {
		background-color: #fff;
	}

	.linkedin-1,
	.linkedin-2,
	.git,
	.twitter {
		transition: all 0.2s ease-in-out;
	}

	.linkedin:hover .linkedin-2 {
		fill: #0078d4;
	}
	.git:hover svg,
	.twitter:hover svg {
		fill: #000;
	}
	.linkedin:hover .linkedin-1 {
		fill: #fff;
	}
	svg {
		z-index: 20;
	}
</style>
