---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/png'
      href='https://res.cloudinary.com/josttme/image/upload/c_fill,h_50,q_80,w_50/v1677042772/jostt.me/images/logo/y9shy5qav0dybfxgax2v.avif'
    />
    <meta name='description' content='Josue Tapia' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body style='background-color: #000019; color: #95959f' class='bg-primary font-Nunito'>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/Nunito-Bold.ttf');
    font-display: swap;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .tooltip {
    position: absolute;
    top: -70px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: #053b86;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    border-radius: 4px;
    padding: 8px;
    opacity: 0.9;
    white-space: nowrap;
    font-size: 1.2rem;
    z-index: 100;
  }
  @media (max-width: 768px) {
    .tooltip {
      display: none;
    }
  }
</style>
